@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 2rem;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--surface-card);
}

/* h1 {
    margin-top: 0;
}

.p-chips-multiple-container{
    border: none;
    gap: 5px;
}

.p-chips-token-label{
    font-weight: 400;
    font-size: 14px;
    color: rgba(16, 24, 40, 1);
}

.noChipInputs .p-chips-input-token{
    display: none;
}
.custom-multiselect{
    padding: 10px;
}
.custom-multiselect .p-multiselect-label {
    display: none;
}
.p-multiselect-select-all{
    display: none;
}
.p-multiselect-filter-icon{
    left: 3%;
}
.p-multiselect-filter {
    padding-left: 15% !important;
}

.no-padding-input, .no-padding-input input{
    border-radius: 6px;
}

.no-padding-input .p-dropdown-label{
    padding-bottom: 0 !important;
    padding-top: 18px !important;
}

.no-padding-input input{
    padding-bottom: 0 !important;
    padding-top: 18px !important;
}

.p-multiselect-trigger{
    display: flex;
    justify-content: end;
}

.p-float-label:has(input:focus) label, .p-float-label:has(input.p-filled) label, .p-float-label:has(input:-webkit-autofill) label, .p-float-label:has(textarea:focus) label, .p-float-label:has(textarea.p-filled) label, .p-float-label:has(.p-inputwrapper-focus) label, .p-float-label:has(.p-inputwrapper-filled) label {
    top: 0.8rem !important;
}

.no-header .p-dialog-header{
    display: none;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus{
    background: rgba(209, 233, 255, 1) !important;
    outline: none;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
    background: #fff;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight:hover{
    background: rgba(209, 233, 255, 1) !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus{
    background: rgba(209, 233, 255, 1) !important;
} */

.error_msg_class{
    margin:0;
    padding: 10px;
    background-color: rgba(254, 228, 226, 1);
    color: rgba(29, 41, 57, 1);
    font-size: 14px;
    border-top: 2px solid rgba(240, 68, 56, 1);
    border-radius: 0 0 6px 6px;
    position: relative;
    top: -5px;
}

.error_icon_field{
    background-color: rgba(240, 68, 56, 1);
    color: #fff;
    padding: 3px;
    font-size: 8px;
    border-radius: 50%;
}

/* button{
    border-radius: 6px;
}

.border-radius-6{
    border-radius: 6px;
    border: 1px solid rgba(208, 213, 221, 1);
}
.ql-container.ql-snow{
    border-radius: 0 0 6px 6px;
}
.ql-toolbar.ql-snow{
    border-radius: 6px 6px 0 0;
}

.flex-block-container {
    display: flex;
    gap: 5px;
}

.w-50 {
    width: 50%;
}

@media (max-width: 960px) {
    .w-50 {
        width: 100%;
    }
    .flex-block-container {
        flex-wrap: wrap;
    }
}
.p-fileupload-content {
    display: none !important;
}
.p-fileupload .p-fileupload-buttonbar{
    border: none;
}


/* table component */

.profile-cell {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.profile-name {
    font-weight: bold;
}

.profile-designation {
    font-size: 0.8rem;
    color: #666;
}

.category {
    font-weight: bold;
}

.category-date {
    font-size: 0.8rem;
    color: #666;
}

.attachment-cell {
    display: flex;
    align-items: center;
}

.attachment-icon {
    color: red;
    margin-right: 5px;
}

.attachment-name {
    margin-right: 5px;
}

.attachment-badge {
    background-color: #f0f0f0;
    color: #333;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.75rem;
    margin-left: 5px;
}

.editable-location {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    outline: none;
}

/* Add these styles to give different colors to grading labels */
.grading-g1 { background-color: #f44336; color: white; padding: 4px 8px; border-radius: 4px; }
.grading-g2 { background-color: #ff9800; color: white; padding: 4px 8px; border-radius: 4px; }
.grading-g3 { background-color: #ffc107; color: white; padding: 4px 8px; border-radius: 4px; }
.grading-g4 { background-color: #4caf50; color: white; padding: 4px 8px; border-radius: 4px; }

.p-datatable-thead tr th{
    background-color: rgba(234, 236, 240, 1);
}
.p-datatable-thead tr th:first-child{
    border-radius: 6px 0 0 6px;
}
.p-datatable-thead tr th:last-child{
    border-radius: 0 6px 6px 0;
}


/* stepper component css */
.p-stepper .p-stepper-header.p-highlight .p-stepper-number {
    background-color: rgba(21, 112, 239, 1);
    color: #fff;
    box-shadow: 0px 0px 0px 5px rgba(220, 235, 255, 1);
}

.p-stepper .p-stepper-header .completed-stepper .p-stepper-number {
    background-color: rgba(18, 183, 106, 1);
    color: #fff;
    position: relative;
}

.p-stepper .p-stepper-header .completed-stepper .p-stepper-number span {
    display: none;
}

.p-stepper-separator{
    width: 24px;
}
.p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator{
    background-color:rgba(102, 112, 133, 1);
}

.stepper-disabled-progress{
    margin: 0;
    color: rgba(152, 162, 179, 1);
    font-size: 12px;
    background: rgba(234, 236, 240, 1);
    padding: 4px;
    margin-top: 3px;
    border-radius: 12px;
}

.p-unselect-stepper-title{
    color: rgba(152, 162, 179, 1);
    font-size: 16px;
    font-weight: 500;
}
.p-selected-stepper-title{
    color: rgba(29, 41, 57, 1) !important;
}

.stepper-selected-progress{
    margin: 0;
    color: rgba(21, 112, 239, 1);
    font-size: 12px;
    background: rgba(239, 248, 255, 1);
    padding: 4px;
    margin-top: 3px;
    border-radius: 12px;
}

.stepper-completed-progress{
    margin: 0;
    color: rgba(18, 183, 106, 1);
    font-size: 12px;
    background: rgba(236, 253, 243, 1);
    padding: 4px;
    margin-top: 3px;
    border-radius: 12px;
}

.p-tabview-selected a {
    background: rgba(255, 255, 255, 1) !important;
    color: rgba(29, 41, 57, 1) !important;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.p-unselectable-text a {
    background: transparent;
    border: none;
    color: rgba(102, 112, 133, 1);
    padding: 8px 10px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-tabview .p-tabview-nav{
    padding: 12px;
    background: rgba(234, 236, 240, 1);
    border-radius: 6px;
    display: inline-flex;
    gap: 10px;
} */


/* tinyMCE */

.tox-tinymce{
    border-radius: 6px !important;
}

.tox-statusbar{
    display: none !important;
}

.tox-toolbar__primary{
    border-bottom: 1px solid #ccc !important;
}


.p-float-label:has(input:focus) label, .p-float-label:has(input.p-filled) label, .p-float-label:has(input:-webkit-autofill) label, .p-float-label:has(textarea:focus) label, .p-float-label:has(textarea.p-filled) label, .p-float-label:has(.p-inputwrapper-focus) label, .p-float-label:has(.p-inputwrapper-filled) label {
    top: 0.8rem !important;
}

.figmaInputs{
    width: 300px !important;
    height: 48px !important;
    padding: 15px 12px 0px 15px;
    border-radius: 6px;
    border: 1px solid rgba(208, 213, 221, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.figmaInputsLabel{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    margin-left: 4px;
}

.disbled_inputs input, .disbled_inputs label{
    color: rgba(152, 162, 179, 1);
}
.disbled_inputs input{
    border: 1px solid rgba(208, 213, 221, 1)
}

.singleSelectFigma{
    width: 314px;
    height: 48px;
    padding: 17px 12px 0 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(208, 213, 221, 1)
}

.singleSelectFigma .p-dropdown-label{
    padding-left: 3px;
}

.singleSelectOptions{
    color: rgba(29, 41, 57, 1);
    display:flex;
    align-items:baseline;
    gap:5px;
    padding:12px,
}

.p-dropdown-items{
    padding:0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    background-color: rgba(209, 233, 255, 1);
}

.p-dropdown-header{
    background-color: rgba(255, 255, 255, 1);
}

.p-dropdown-filter-container .p-dropdown-filter{
    background: rgba(242, 244, 247, 1);
    padding-left: 30px;
}

.p-dropdown-filter-icon{
    left: 10px;
}

.p-dropdown-items li{
    height: 47px;
    padding: 12px;
}

.singleSelectFigma .p-dropdown-label{
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    color: rgba(29, 41, 57, 1);
}

.p-dropdown-trigger-icon{
    position: absolute;
    top: 35%;
}

.p-focus{
    outline: none;
}

.p-dropdown-header{
    padding: 12px;
}