@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    font-family: "Roboto";
}

.anekFont{
    font-family: "Anek Kannada";
}
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--surface-card);
}

/* h1 {
    margin-top: 0;
}

.p-chips-multiple-container{
    border: none;
    gap: 5px;
}

.p-chips-token-label{
    font-weight: 400;
    font-size: 14px;
    color: rgba(16, 24, 40, 1);
}

.noChipInputs .p-chips-input-token{
    display: none;
}
.custom-multiselect{
    padding: 10px;
}
.custom-multiselect .p-multiselect-label {
    display: none;
}
.p-multiselect-select-all{
    display: none;
}
.p-multiselect-filter-icon{
    left: 3%;
}
.p-multiselect-filter {
    padding-left: 15% !important;
}

.no-padding-input, .no-padding-input input{
    border-radius: 6px;
}

.no-padding-input .p-dropdown-label{
    padding-bottom: 0 !important;
    padding-top: 18px !important;
}

.no-padding-input input{
    padding-bottom: 0 !important;
    padding-top: 18px !important;
}

.p-multiselect-trigger{
    display: flex;
    justify-content: end;
}

.p-float-label:has(input:focus) label, .p-float-label:has(input.p-filled) label, .p-float-label:has(input:-webkit-autofill) label, .p-float-label:has(textarea:focus) label, .p-float-label:has(textarea.p-filled) label, .p-float-label:has(.p-inputwrapper-focus) label, .p-float-label:has(.p-inputwrapper-filled) label {
    top: 0.8rem !important;
}

.no-header .p-dialog-header{
    display: none;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus{
    background: rgba(209, 233, 255, 1) !important;
    outline: none;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
    background: #fff;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight:hover{
    background: rgba(209, 233, 255, 1) !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus{
    background: rgba(209, 233, 255, 1) !important;
} */

.error_msg_class{
    margin:0;
    padding: 10px;
    background-color: #FEE4E2;
    color: #1D2939;
    font-size: 14px;
    border-top: 1.5px solid #F04438;
    border-radius: 0 0 6px 6px;
    position: relative;
    top: -4px;
}

.error_icon_field{
    background-color: #F04438;
    color: #fff;
    padding: 3px;
    font-size: 8px;
    border-radius: 50%;
}

/* button{
    border-radius: 6px;
}

.border-radius-6{
    border-radius: 6px;
    border: 1px solid #D0D5DD;
}
.ql-container.ql-snow{
    border-radius: 0 0 6px 6px;
}
.ql-toolbar.ql-snow{
    border-radius: 6px 6px 0 0;
}

.flex-block-container {
    display: flex;
    gap: 5px;
}

.w-50 {
    width: 50%;
}

@media (max-width: 960px) {
    .w-50 {
        width: 100%;
    }
    .flex-block-container {
        flex-wrap: wrap;
    }
}
.p-fileupload-content {
    display: none !important;
}
.p-fileupload .p-fileupload-buttonbar{
    border: none;
}


/* table component */

.profile-cell {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.profile-name {
    font-weight: bold;
}

.profile-designation {
    font-size: 0.8rem;
    color: #666;
}

.category {
    font-weight: bold;
}

.category-date {
    font-size: 0.8rem;
    color: #666;
}

.attachment-cell {
    display: flex;
    align-items: center;
}

.attachment-icon {
    color: red;
    margin-right: 5px;
}

.attachment-name {
    margin-right: 5px;
}

.attachment-badge {
    background-color: #f0f0f0;
    color: #333;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.75rem;
    margin-left: 5px;
}

.editable-location {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    outline: none;
}

/* Add these styles to give different colors to grading labels */
.grading-g1 { width: 34px; height: 30px; padding: 8px; border-radius: 6px; background-color: #F04438; color: #FFFFFF; font-size: 14px; line-height: 14px; font-weight: 500; display: block;}
.grading-g2 { width: 34px; height: 30px; padding: 8px; border-radius: 6px; background-color: #FB6514; color: #FFFFFF; font-size: 14px; line-height: 14px; font-weight: 500; display: block;}
.grading-g3 { width: 34px; height: 30px; padding: 8px; border-radius: 6px; background-color: #FDB022; color: #FFFFFF; font-size: 14px; line-height: 14px; font-weight: 500; display: block;}
.grading-g4 { width: 34px; height: 30px; padding: 8px; border-radius: 6px; background-color: #12B76A; color: #FFFFFF; font-size: 14px; line-height: 14px; font-weight: 500; display: block;}

.p-datatable-thead tr th{
    background-color: rgba(234, 236, 240, 1);
}
.p-datatable-thead tr th:first-child{
    border-radius: 6px 0 0 6px;
}
.p-datatable-thead tr th:last-child{
    border-radius: 0 6px 6px 0;
}

.p-column-title{
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    color: #1D2939;
}

.p-sortable-column .p-column-header-content{
    display: flex;
    align-items: baseline;
    justify-content: start;
}

.p-column-header-content{
    justify-content: end;
}

.p-column-header-content .p-sortable-column-icon{
    width: 12px;
    height: 10.67px;
    color: #475467;
}

.p-selection-column .p-checkbox .p-checkbox-box{
    width: 16px;
    height: 16px;
    border: 1.5px solid #D0D5DD;
    border-radius: 2.88px;
    padding: 2px;
}

.p-selection-column .p-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-datatable .p-datatable-thead > tr > th, .p-datatable .p-datatable-tbody > tr > td{
    padding: 0.5rem 0.5rem;
}

.p-datatable-header{
    border: none;
}

/* stepper component css */
.p-stepper .p-stepper-header.p-highlight .p-stepper-number {
    background-color: rgba(21, 112, 239, 1);
    color: #fff;
    box-shadow: 0px 0px 0px 5px rgba(220, 235, 255, 1);
}

.p-stepper .p-stepper-header .completed-stepper .p-stepper-number {
    background-color: rgba(18, 183, 106, 1);
    color: #fff;
    position: relative;
}

.p-stepper .p-stepper-header .completed-stepper .p-stepper-number span {
    display: none;
}

.p-stepper-separator{
    width: 24px;
}
.p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator{
    background-color:rgba(102, 112, 133, 1);
}

.stepper-disabled-progress{
    margin: 0;
    color: rgba(152, 162, 179, 1);
    font-size: 12px;
    background: rgba(234, 236, 240, 1);
    padding: 4px;
    margin-top: 3px;
    border-radius: 12px;
}

.p-unselect-stepper-title{
    color: rgba(152, 162, 179, 1);
    font-size: 16px;
    font-weight: 500;
}
.p-selected-stepper-title{
    color: rgba(29, 41, 57, 1) !important;
}

.stepper-selected-progress{
    margin: 0;
    color: rgba(21, 112, 239, 1);
    font-size: 12px;
    font-weight: 500;
    background: rgba(239, 248, 255, 1);
    padding: 4px;
    margin-top: 3px;
    border-radius: 12px;
}

.stepper-completed-progress{
    margin: 0;
    color: rgba(18, 183, 106, 1);
    font-size: 12px;
    background: rgba(236, 253, 243, 1);
    padding: 4px;
    margin-top: 3px;
    border-radius: 12px;
    font-weight: 500;
}

.p-tabview-selected a {
    background: rgba(255, 255, 255, 1) !important;
    color: rgba(29, 41, 57, 1) !important;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.p-unselectable-text a {
    background: transparent;
    border: none;
    color: rgba(102, 112, 133, 1);
    padding: 8px 10px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-tabview .p-tabview-nav{
    padding: 12px;
    background: rgba(234, 236, 240, 1);
    border-radius: 6px;
    display: inline-flex;
    gap: 10px;
} */


/* tinyMCE */

.tox-tinymce{
    border-radius: 6px !important;
}

.tox-statusbar{
    display: none !important;
}

.tox-toolbar__primary{
    border-bottom: 1px solid #ccc !important;
}


.p-float-label:has(input:focus) label, .p-float-label:has(input.p-filled) label, .p-float-label:has(input:-webkit-autofill) label, .p-float-label:has(textarea:focus) label, .p-float-label:has(textarea.p-filled) label, .p-float-label:has(.p-inputwrapper-focus) label, .p-float-label:has(.p-inputwrapper-filled) label {
    top: 0.8rem !important;
}

.figmaInputs{
    width: 300px !important;
    height: 48px !important;
    padding: 15px 12px 0px 12px;
    border-radius: 6px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.figmaInputs:focus{
    border: 1.5px solid #1570EF;
    box-shadow: 0px 0px 0px 5px #D1E9FF;
}

.figmaIconWithinputs{
    width: 292px !important;
    height: 48px !important;
    padding: 15px 12px 0px 12px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}
.figmaInputIcons .p-inputgroup-addon{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    min-width: 31px;
    height: 48px;
    color: #344054;
    font-weight: 500;
    background: #F9FAFB !important;
}

.figmaInputIcons:focus-within .figmaIconWithinputs {
    border: 1.5px solid #1570EF;
    border-left: 0;
    box-shadow: 0px -5px 5px #D1E9FF,
                5px 5px 5px #D1E9FF;
}

.figmaInputIcons:focus-within .p-inputgroup-addon {
    border: 1.5px solid #1570EF;
    box-shadow: -5px 0px 5px #D1E9FF,
                0px -5px 5px #D1E9FF,
                0px 5px 5px #D1E9FF;

}

.disbledFigmaIcons{
    border-top: 1px solid #D0D5DD !important;
    border-bottom: 1px solid #D0D5DD !important;
    border-left: 1px solid #D0D5DD !important;
    color: #98A2B3 !important;
}
.figmaInputsLabel{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #667085;
}

.disbled_inputs input, .disbled_inputs label, .disbled_inputs .singleSelectFigma .p-dropdown-label{
    color: #98A2B3 !important;
}
.disbled_inputs input{
    border: 1px solid #D0D5DD;
}

.singleSelectFigma{
    width: 314px;
    height: 48px;
    padding: 17px 12px 0 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #D0D5DD;
}

.singleSelectFigma:focus-within{
    border: 1.5px solid #1570EF;
    box-shadow: 0px -5px 5px #D1E9FF,
                5px 5px 5px #D1E9FF;
}

.singleSelectFigma .p-dropdown-label{
    padding-left: 0;
}

.singleSelectOptions{
    color: #344054;
    display:flex;
    align-items:baseline;
    gap:5px;
    padding:12px,
}

.p-dropdown-items{
    padding:0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    background-color: #D1E9FF;
}

.p-dropdown-header{
    background-color: #FFFFFF;
}

.p-dropdown-filter-container .p-dropdown-filter{
    background: #F2F4F7;
    padding-left: 30px;
}

.p-dropdown-filter-icon{
    left: 10px;
}

.p-dropdown-items li{
    height: 47px;
    padding: 12px;
}

.singleSelectFigma .p-dropdown-label{
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    color: rgba(29, 41, 57, 1);
}

.p-dropdown-trigger-icon{
    position: absolute;
    top: 35%;
}

.p-focus{
    outline: none;
}

.p-dropdown-header{
    padding: 12px;
}

.inputSupportingText{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #98A2B3;
    margin: 8px 0px;
}
.inputChangeUrlText{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #1570EF;
    margin: 8px 0px;
}
.disbledExtraText{
    color: #98A2B3 !important;
}

.custom-multiselect{
    height: 48px !important;
    width: 314px !important;
}
.custom-multiselect .p-multiselect-label-container{
    padding: 12px 17px;
}

.custom-multiselect .p-multiselect-label-container .p-multiselect-label{
    display: none;
}

.noChipInputs .p-chips-multiple-container{
    border:none !important;
    outline: none;
    box-shadow: none;
    padding: 5px 0px;
    display: flex;
    gap: 5px;
    width: 314px;
    flex-wrap: wrap;
}
.noChipInputs .p-chips-input-token{
    display: none;
}
.noChipInputs .p-chips-multiple-container .p-chips-token{
    background: #D0D5DD;
    color: #101828;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    border-radius: 6px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
    background: #fff;
    color: rgba(52, 64, 84, 1) !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight:hover{
    background: rgba(209, 233, 255, 1) !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus{
    background: rgba(209, 233, 255, 1) !important;
}
.p-multiselect-select-all{
    display: none;
}

.multiSelectLabel{
    position: absolute;
    pointer-events: none;
    top: 50%;
    margin-top: -0.5rem;
    transition-property: all;
    transition-timing-function: ease;
    line-height: 1;
    left: 15px;
    color:rgba(102, 112, 133, 1);
}

.disabledMultiSelect{
    color: rgba(152, 162, 179, 1);
}

.figmaInputs input{
    border: none;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    box-shadow: none;
}

.textareaLabel{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    margin-bottom: 10px;
}

.primaryBtn{
    width: 250px;
    height: 48px;
    padding: 16px 24px 16px 24px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    background-color: rgba(21, 112, 239, 1);
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.primaryBtn i{
    font-size: 14px;
}

.primaryBtn:hover{
    background-color: rgba(23, 92, 211, 1);
}

.primaryDisabledBtn{
    background-color: #D0D5DD !important;
    color: rgba(152, 162, 179, 1) !important;
    cursor: not-allowed;
}

.secondaryBtn{
    width: 250px;
    height: 48px;
    padding: 16px 24px 16px 24px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    background-color: #FCFCFD;
    color: rgba(29, 41, 57, 1);
    border: 1px solid #D0D5DD;
}

.secondaryBtn:hover{
    background-color: #F2F4F7;
    border: 1px solid #D0D5DD
}

.secondaryDisabledBtn{
    background-color: #F9FAFB !important;
    color: #98A2B3 !important;
    cursor: not-allowed;
    border: 1px solid #EAECF0;
}
.secondaryDisabledBtn:hover {
    background-color: #F9FAFB !important;
    color: #98A2B3 !important;
    cursor: not-allowed;
    border: 1px solid #EAECF0;
}

.urlBtn{
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    color: #1570EF;
    border:none;
    background-color: transparent;
}

.urlBtn:hover{
    color:#175CD3;
}

.urlDisabledBtn{
    color: #98A2B3 !important;
    cursor: not-allowed;
}

.greenBtn{
    width: 133px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 38px;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.75px;
    background-color: #32D583;
    color: #1D2939;
    border:none;
}

.greenBtn:hover{
    background-color:#12B76A;
}

.greenDisabledBtn{
    background-color: #D0D5DD !important;
    color: #98A2B3 !important;
    cursor: not-allowed;
}


/* navbar */

.navbarHeader{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 12px 17px;
    height: 70px;
    border-bottom:1px solid #D0D5DD;
    background-color: rgba(255, 255, 255, 1);
    z-index: 99;
}

.logoText{
    margin: 0;
    font-size: 26.4px;
    font-weight: 600;
    line-height: 29.94px;
    color: rgba(16, 24, 40, 1);
}

.navbarSearchInput{
    width: 616px !important;
    background-color: rgba(242, 244, 247, 1);
    border-radius: 8px;
    border: none;
    padding-left: 40px;
}
.navbarSearchInput:focus{
    border: 1.5px solid rgba(21, 112, 239, 1);
}

.userLogo{
    width: 44px;
    height: 44px;
    border:1.05px solid #D0D5DD;
    border-radius: 50%;
}

.userName{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    color: rgba(29, 41, 57, 1);
}
.userDesignation{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(152, 162, 179, 1);
}



/* modal box */

.no-header .p-dialog-header{
    display: none;
}


/* sidebar */

.sidebarLayout{
    width: 253px;
    border: 1px solid #D0D5DD;
    position: fixed;
    left: 0;
    top: 0;
    padding:1rem;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFFFFF;
    z-index: 98;
    padding-top: 6rem;
}

.mainPanelDiv{
    margin-left: 253px;
    overflow: auto;
}

.sidebarList{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.sidebarActive{
    box-shadow: 0px 4px 36px 0px #00000024;
}
.sidebarList:hover{
    box-shadow: 0px 4px 36px 0px #00000024;
}

.sidebarMenuList{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #1D2939;
    text-wrap: nowrap;
}

.sidebarNotifyCount{
    background-color: #F04438;
    width: 20px;
    height: 22px;
    padding: 6px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarMenuCount{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #98A2B3;
    padding: 12px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #EAECF0;
    border-radius: 10px;
}


/* table pagination */

.p-paginator-pages{
    border: 1px solid #D0D5DD;
    border-radius: 6px;
}

.p-paginator-pages .p-paginator-element {
    border-right: 1px solid #D0D5DD;
    border-radius:0;
    margin: 0;
    padding: 8px;
    font-size: 14px;
    line-height: 14px;
    color: #1D2939;
    font-weight: 500;
    background: #FFFFFF;
}

.p-paginator-pages .p-paginator-element:last-child{
    border-radius: 0 6px 6px 0;
    border: none;
}
.p-paginator-pages .p-paginator-element:first-child{
    border-radius: 6px 0 0 6px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
    background-color: #F2F4F7 !important;
}

.p-paginator-first, .p-paginator-last, .p-paginator-prev, .p-paginator-next{
    display: none;
}

.smallbtn{
    width: 70px;
    height: 34px;
    padding: 8px;
    border:1px solid #D0D5DD;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #1D2939;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
}

.smallbtn i{
    font-size: 12px;
}

.p-paginator-bottom{
    position: relative;
}

.absoluteLeft{
    position: absolute;
    top: 25%;
    left: 0;
}

.absoluteRight{
    position: absolute;
    top: 25%;
    right: 0;
}


/* form builder sidebar */

.lokayuktaSidebarLayout{
    width: 253px;
    border: 1px solid #D0D5DD;
    position: fixed;
    left: 0;
    top: 0;
    padding:0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFFFFF;
    z-index: 98;
}

.logoName{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #1D2939;
}

.lokayuktaSidebarMenuList{
    display:flex;
    gap:7px;
    align-items:center;
    color:#667085;
    font-size:14px;
    font-weight:400;
    stroke: #667085;
    stroke-width: 1.5px;
    width: 237px;
    height: 32px;
    border-radius: 0 8px 8px 0;
    padding: 6px 15px;
    cursor: pointer;
}

.lokayuktaSidebarMenuList .fillSvg{
    fill: #667085;
    stroke-width: 0;
}

.lokayuktaSidebarMenuList:hover{
    background-color: #D1E9FF;
}

.activeLokayuktaSidebar{
    background-color: #D1E9FF;
    border-left: 3px solid #1570EF;
    color: #1D2939;
    stroke: #1D2939;
    font-weight: 500;
    padding: 6px 12px;
}
.activeLokayuktaSidebar .fillSvg{
    fill: #1D2939 !important;
}

.lokaUserLogo{
    width: 32px;
    height: 32px;
    border: 0.91px solid #D0D5DD;
    border-radius: 50%;
    object-fit: cover;
}

.lokaUserName{
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #1D2939;
}

.lokaUserDesignation{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #98A2B3;    
}

.p-dialog-header-close{
    background-color: #EAECF0;
}

.fullWidth{
    width: 100% !important;
}

.p-dialog-header, .p-dialog-content{
    padding: 0;
}

.radioInputWidth{
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioInputWidth .p-radiobutton-box{
    border-width: 4.5px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioInputWidth .p-radiobutton-box .p-radiobutton-icon{
    width: 8px;
    height: 8px;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.p-splitter-gutter{
    position: relative;
    top: 30px;
    height: 0 !important;
}